 <div data-ui-view ng-controller="confirmpasswordController">
  <div class="container">
   <div class='row'>
     <div class='col-md-10 col-md-offset-3'>
       <div class="error-messages">
        <div class="alert alert-danger" ng-show="error==true">Password doesnt match</div>
        <div class="alert alert-danger" ng-show="admin==true">Password not updated. Check with administrator</div>
        <div class="alert alert-success" ng-show="success==true">Password updated successfully</div>
      </div>
    </div>
  </div>
  <div class='col-md-10 col-md-offset-3 top-space-100px passwordreset'>
    <form class="row" ng-submit="confirmpassword()">
      <h2 class="intro-login no-padding margin-bottom-30px">Update password</h2>
      <div class="group margin-top-20px ">
        <div class="col-md-8 no-padding margin-bottom-20px">

          <input type="password"   required ng-model="credentials.password">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
        </div>
        <div class="col-md-8 no-padding margin-top-20px">

          <input type="password"  required ng-model="credentials.confirmpassword">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Confirm password</label>
        </div>
        <div class="col-md-8 margin-top-20px no-padding-right">
              <div class="row">
            <div class="col-md-4 pull-right" style="padding-left:28px;">

             <a href="#login" class="survery-btn bg-color-dark-grey" style="font-size: 18px;">Back</a>
             <button type="submit" class=" survery-btn">Submit</button>
           </div>
         </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

