 <div data-ui-view ng-controller="restpasswordController">
  <div class="container">
   <div class='row'>
     <div class='col-md-10 col-md-offset-3'>
       <div class="error-messages">
        <div class="alert alert-danger" ng-show="error==true">Invalid Email or Password!</div>
        <div class="alert alert-success" ng-show="success==true">Please check your email address to reset your password.</div>
        <div class="alert alert-danger" ng-show="nofound==true">Email not found. Please contact adminstrator.</div>
      </div>
    </div>
  </div>
  <div class='col-md-10 col-md-offset-3 top-space-100px passwordreset'>
    <form class="row" ng-submit="resetpassword()">
      <h2 class="intro-login margin-bottom-30px">Password reset</h2>
      <div class="group margin-top-20px margin-bottom-30px ">
        <div class="col-md-8">

          <input type="email"  ng-model="credentials.email" placeholder="Email">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label style="padding-left: 15px;">Please enter the email address associated with your account</label>

        </div>
        <div class="col-md-8 margin-top-20px ">
          <div class="row">
            <div class="col-md-5 pull-right">

             <a href="#login" class="survery-btn bg-color-dark-grey" style="font-size: 18px;">Back</a>
             <button type="submit" class=" survery-btn">Submit</button>
           </div>
         </div>
         

       </div>
     </div>
   </form>
 </div>
</div>
</div>

